.semester-section {
  padding: 40px 20px;
  background-color: #0d1117;
  text-align: center;
  color: white;
}

.semester-title {
  font-size: 26px;
  margin-bottom: 25px;
  color: #58a6ff;
}

.semester-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.semester-card {
  background: #161b22;
  border: 1px solid #30363d;
  padding: 12px 20px;
  border-radius: 10px;
  min-width: 180px;

  opacity: 0;
  transform: translateY(25px);
  animation: appear 0.7s forwards;

  font-weight: bold;
  transition: 0.3s;
}

.semester-card:hover {
  background: #1f6feb;
  cursor: pointer;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
